.contact .container--flex{
	align-content: center;
}
.contact-information{
	padding:50px;
	padding-bottom: 0;
	margin-bottom: 30px;
	text-align: center;
}
.contact-information .colum__title{
	font-family: 'Pacifico', cursive;
	font-weight: 100;
}
.contact-information [class*="icon-"]{
	font-size: 1.3em;
	margin-right: 7px;
	position: relative;
	top: 5px;
}
.contact-information .social-icon{
	justify-content:center;
	margin-bottom: 10px;
	align-content: center;
}
.contact-information .social-icon [class*="icon-"]{
	background: black;
	color:white;
	margin-left: 0;
	margin-right: 15px;
}
@media screen and (min-width:480px){
	.contact-information p{
		font-size: .75em;
	}
}
@media screen and (min-width:768px){
	.contact-information p{
		font-size: 1em;
	}
	.contact-information .column__title{
	font-size: 1.5em	
	}
}










